body {
    font-family: Helvetica;
    color: white;
    background-color: #E1EEFC;
    padding-left: 20%;
    padding-right: 20%;
}
#maindiv {
    background-color: skyblue;
    padding-bottom:30%;
    padding-left:2%;
    padding-right:2%;
    border-radius: 1rem;
}
#builder {
    text-align: center;
    
}

#mult_choice_btn {
    font-size: large;
    border-radius: 0.2rem;
    border-style: none;
    background-color: lightgreen;
    padding-left:2%;
    width:5rem;
    height:10%;
    padding-right:10%;
    transition: 0.2s;
}
#mult_choice_btn:hover {
    background-color: lime;
}

#essay_btn {
    font-size: large;
    border-radius: 0.2rem;
    border-style: none;
    width: 5rem;
    height:10%;
    background-color: lightsalmon;
}

#add_button {
    background-color: crimson;
    border-radius: 1rem;
    border-color: none;
    border-width: 0px;
    /* padding-top:20%; */
}



