body {
    background-color: #767B91;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}
#header {
    text-align: center;
}

#container {
    padding-left:2%;
    padding-bottom:2%;
    padding-right: 2%;
    color: white;
    background-color: black;
    /* border-color: white; */
    border: 20px;
    border-radius: 0.5rem;
    /* text-align: center; */
}

#submit_button_container {
    visibility:hidden;
    text-align: center;
    padding-top:5%;
}
#submit_button{
    color:white;
    background-color: black;
    border-color:black;
    border-radius: 0.5rem;
    width:20%;
    height:4rem;
    font-size: 100%;
    transition-duration: 0.3s;  
}

#submit_button:hover {
    color: black;
    background-color: white;
}
.form {
    padding-top: 2%;
    color:white;
    align-content: center;
    text-align: left;
}
.question {
    padding-top: 2%;
    color: white;
}
textarea {
    /* border-color: red; */
    align-self: center;
    /* background-color: #ffddcc; */
}

#status_label {
    color: chartreuse;
    visibility: hidden;
}